<%= form_for([@product, @part_product]) do |form| %>
  <%= form.label :amount %>
  <%= form.number_field :amount %>
  
  <%= form.label :part %>
  <%= form.select :part_id, @parts %>
  
  <%= form.submit %>
<% end %>
