<%= form_for @part do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :brand_name, class: "form-label" %>
    <%= form.text_field :brand_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image, accept:"image/*", capture: "environment", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :image_url, class: "form-label" %>
    <%= form.text_field :image_url, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>

<video autoplay></video>

<script type="text/javascript">
  const constraints = {
    video: true,
    facingMode: "environment"
  };

  const video = document.querySelector("video");

  // navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
  //   video.srcObject = stream;
  // });
</script>