<h3><%= link_to("Nieuw onderdeel", new_part_path) %></h3>

<div class="container">
  
</div>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Naam</th>
      <th>Merk</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%- @parts.each do |part| %>
      <tr>
        <td style="height: 40px">
          <%- if part.image.present? %>
            <img src=<%= url_for(part.image) %> alt=<%= part.name %> style="max-height: 40px"/>
          <%- end %>
        </td>
        <td><%= link_to(part.name, edit_part_path(part)) %></td>
        <td><%= part.brand_name %></td>
        <td><%= link_to("Verwijder", part_path(part), method: :delete) %></td>
      </tr>
    <%- end %>
  </tbody>
</table>
