<div>
  <h1><%= link_to("Lijst", products_path) + " > " + @product.code  + "-" + @product.name %></h1>
</div>

<h3><%= link_to("Nieuw onderdeel", new_product_part_product_path(@product)) %></h3>

<table>
  <thead>
    <tr>
      <th>Aantal</th>
      <th></th>
      <th>Naam</th>
    </tr>
  </thead>
  <tbody>
    <%- @part_products.each do |part_product| %>
      <tr>
        <td><%= part_product.amount %></td>
        <td><img src=<%= url_for(part_product.part.image) %> alt=<%= part_product.part.name %> style="max-height: 40px"</td>
        <td><%= link_to(part_product.part.name, edit_product_part_product_path(@product, part_product)) %></td>
      </tr>
    <%- end %>
  </tbody>
</table>
