<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Naam</th>
    </tr>
  </thead>
  <tbody>
    <%- @products.each do |product| %>
      <tr>
        <td><%= product.code %></td>
        <td><%= link_to(product.name, edit_product_path(product)) %></td>
      </tr>
    <%- end %>
  </tbody>
</table>
