<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <table>
      <tbody>
        {{#each parts}}
          <tr>
            <td>{{amount}}</td>
            <td><img src={{image_url}} style="max-height: 40px"></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </body>
</html>
