<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>
      .flex-container {
        display: flex;
        flex-flow: row wrap;
        background-color: Blue;
      }
      div.part {
        height: 2cm;
        width: 6cm;
        border: 1px solid black;
        background-color: Red;
      }
      div.part > div.image {
        height: 2cm;
        width: 2cm;
        float: left;
        background-color: Green;
      }
      div.part > div.image > img {
        max-height: 2cm;
        max-width: 2cm;
        vertical-align: middle;
      }
      div.part > div.image > span.helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      div.part > div.description {
        height: 2cm;
        width: 3.8cm;
        float: right;
        background-color: Yellow;
      }
    </style>
  </head>
  <body>
    <h3><%= "#{product.code} Tellijst #{product.brand_name} #{product.name}" %></h3>

    <div class="flex-container">
      <% product.part_products.each do |part_product| %>
        <div class="part">
          <div class="image">
            <span class="helper"></span>
            <!-- <img src="<%= "data:image/png;base64,#{Base64.strict_encode64(part_product.part.image.download)}" %>" alt=<%= part_product.part.name %>> -->
          </div>
          <div class="description">
            <%= "#{part_product.amount} #{part_product.part.name}" %>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
