<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Speelotheek</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="p-3 mb-3 border-bottom">
      <div class="container-fluid">
        <ul class="nav">
          <li class="col-2">
            <%= link_to("Producten", products_path) %>
          </li>
          <li class="col-2">
            <%= link_to("Onderdelen", parts_path) %>
          </li>
        </ul>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
